body{
	color: rgb(255, 255, 255);
	background: rgb(100, 100, 100);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
}

.hint{
	color: rgb(0, 100, 0);
}

.link{
	color: rgb(0, 0, 255);
}

.button{
	background: rgb(255, 0, 0);
	color: rgb(0, 0, 0);
	border: none;
	font-size: 18px;
}

.button:not(:last-child){
	margin-bottom: 20px
}

#usercard{
	text-align: center;
}